html
	head
		title #{title}
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(property="og:title" content=meta["og:title"])
		meta(property="og:url" content=meta["og:url"])
		meta(property="fb:app_id" content=fb.app_id)
		meta(property="og:description" content=meta["og:description"])
		meta(property="og:image" content=meta["og:image"])
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content=meta["twitter:site"])
		link(rel='stylesheet', href='/css/styles.css')
		include favicon.html
		script(src="js/all.min.js")
body
	include fb-share-preamble.pug
	header
		img(src="/img/" + mainlogo)#main-logo.logo
		include header.pug
	section#preamble
		include preamble.pug
	section#join
		include embed-actionnetwork.pug
	section#explanation
		include:marked explanation.md
	section#share
		include fb-share.pug
		include twitter-share.pug
	section#connect
		include connect.pug
		include fb-like-button.pug
	section#merchandise
		include merchandise.pug
	footer
		include:marked disclaimer.md
	include ga.html